body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.item-select {
  width: 95%; /* Or whatever you'd like the width to be */
}

.item-select select {
  left: 85%;
}
.col {
  border: solid 1px grey;
  border-bottom-style: none;
  border-right-style: none;
}

.col:last-child {
  border-right: solid 1px grey;
}

.row:last-child .col {
  border-bottom: solid 1px grey;
}
