<ion-view title= "Twich Salesman Login Page">

  <ion-content>
    <img src="../img/download.png">
    <form ng-submit = "doLogin(user)">
      <div class="list">
        <label class="item item-input">
          <!--<span class="input-label">Email </span>-->
          <input placeholder="Enter The Email" type="text" ng-model = "user.email">
        </label>
        <label class="item item-input">
          <!--<span class="input-label">Password</span>-->
          <input placeholder="Enter The Password" type="password" ng-model = "user.password">
        </label>
      </div>
      <div class="button-bar">
        <button class="button button-balanced" type="submit">Login</button>
      </div>
    </form>
  </ion-content>
</ion-view>
