<ion-view title="Twich AdminPanel">

    <ion-nav-buttons side="right">
        <button class="button button-energized" ng-click="logout()">
            LogOut
        </button>
    </ion-nav-buttons>

    <ion-content>
                    <h1>Hello Mr </h1>
         <h1> Welcome to Twich Admin Panel</h1>
        <img src="../img/download.png" align="middle">
<div class="bu">
        <a class="button button-balanced" ui-sref="company">Create Companies</a>
        <a class="button button-balanced" ui-sref="salesman">Create Salesman</a>
        <a class="button button-balanced" ui-sref="orders">Create Product</a>
        <a class="button button-balanced" ui-sref="sorders">Check Salesman Request</a>
</div>
    </ion-content>

</ion-view>