<ion-view title="Twich AdminPanel">

    <ion-nav-buttons side="right">
        <button class="button button-energized" ng-click="logout()">
            LogOut
        </button>
    </ion-nav-buttons>

    <ion-content>
                    <h1>Hello Mr {{response}}</h1>
         <h1> Welcome to Twich Admin Panel</h1>

        <a class="button button-balanced" ui-sref="company">Create Companies</a>
        <a class="button button-balanced" ui-sref="salesman">Create Salesmans</a>
        <a class="button button-balanced" ui-sref="orders">Create Products</a>
        <a class="button button-balanced" ui-sref="sorders">Check Salesman Request</a>

    </ion-content>

</ion-view>